html{
    scroll-behavior: smooth;
}

/*think about how to use inherit and define some stuff for body and p and h1*/
/*review margin, padding, format and units*/
/*image sizing*/
/*project box uniform sizing*/

* {-webkit-font-smoothing: antialiased;}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  padding: 0;
  margin: 0 8vw;
  color: #022140;
}

strong{
  font-weight: bold;
}

h1{
  font-size: 1.2em;
  text-align: center;
  padding-top: 15vw;
}

h2{
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  padding: 1em 0;
}

h3{
  font-size: 1.2em;
  padding-bottom: 0.5vw;
}

p{
  font-size: 0.8em;
}

figure img{
  max-width: 50px;
  height: auto;
  margin: 15px;
}

figcaption a{
  font-size: 0.8em;
  text-decoration: none;
  color: #265077;
}

figcaption a:hover, a:focus{
  color: #F79E02;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

footer{
  background-color: #022140;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  padding: 50px;
  bottom: 0;
  margin: 10vw -8vw 0 -8vw;
}

footer #note{
  color: #C2DEED;
}

#footer-img{
  max-width: 30px;
  height: auto;
  margin: 30px 30px 0 30px;
}

/*#footer-overlay{
  max-width: 30px;
  height: auto;
  position: relative;
  left: -32.25px;
  opacity:0;
}

#footer-overlay:hover{
  opacity: 1;
}*/

.anchor{
  display: block;
  position: relative;
  top: -150px; /*update*/
  visibility: hidden;
}
/**:focus{
  border: 2px solid black;
}*/

#active{
  border: 2px dotted #F79E02;

  }

.navi{
  display: -webkit-box;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    flex-direction: column;
  -webkit-box-pack: justify;
    justify-content: space-between;
  position: fixed;
  top: 0;
  left: 8vw;
  right: 8vw;
  background-color: #ffffff;
  border: 1px dotted #F79E02;
}

nav ul{
  display: -webkit-box;
    display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    flex-direction: column;
  -webkit-box-pack: justify;
    justify-content: space-between;
  list-style-type: none;
 
}

nav li{
  text-align: center;
  padding: 5px;
}

nav li:first-child{
  color: #265077;
  font-weight: bolder;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 40px;
  text-shadow: 
       4px 4px 0px #d5d5d5;
}

nav li:last-child{
  padding-bottom: 20px;
}

nav a{
  text-decoration: none;
  color: #265077;
  
}

nav a:hover, a:focus {
  color: #F79E02; 
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}


.skipcont a{
  background-color: #022140;
  color: #F79E02;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
  z-index: 1;
}

.skipcont a:focus{
  top: 0;
}

.about {
  margin: 50vh 0 5vh 0;
}


.about p{
  padding: 15px 0;
  font-weight: bolder;
  font-size: 1.2em;
  animation: slide-in-one 2s ease-out;
}

@keyframes slide-in-one {
  from{
    margin-top: 30%;
  }
  to{
    margin-top: 0%;
  }
}

/*p#more{
  display: inline-block;
}

p#more > a{
  text-decoration: none;
  color: #265077;
  font-size: 0.8em;
  display: inline-block;
}

p#more > a:hover, a:focus{
  color: #F79E02;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

img#more{
  max-width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}*/


.projects{
  display: -webkit-box;
    display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
    justify-content: space-evenly;
  margin: 3vh 0 5vh 0;
}

.project-item{
  width: 85vw;
  height: 15vh;
  border-radius: 10px;
  margin: 15px 0;
  background: #EFF5F9;
}

.project-item:hover, .project-item:focus{
  background-color: #C2DEED;
}

.project-item a{
  /*padding: 30px;*/
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  text-align: center;
}


.project-item a:hover, a:focus{
  color: #F79E02;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

.gallery{
  display: -webkit-box;
    display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
    justify-content: center;
  margin: 3vh 0 5vh 0;
}

.gallery img{
  margin: 15px;
  width:auto;
  max-width: 80vw;
  height: auto;
  max-height: 50vh; 
  -webkit-filter: drop-shadow(8px 8px 2px #d5d5d5);
  filter: drop-shadow(8px 8px 2px #d5d5d5);
} 

.contact{
  display: -webkit-box;
    display: flex;
  -webkit-box-pack: center;
    justify-content: space-evenly;
  margin: 3vh 0 5vh 0;
}


.contact figure{
  text-align: center;
}

.form{
  display: block;
  text-align: center;
}


legend{
  text-align: center;
  padding: 1em 0;
}

label{
  diplay: inline-block;
  font-size: 0.8em;
}

input[type=text], textarea {
  width: 40%;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button{
  background-color: #022140;
  color: white;
  padding: 1em;
  margin: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, button:focus{
  color: #F79E02; 
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

.overview{
  background-color: #EFF5F9;
  margin-top: 30vh;
}

.overview p{
  text-align: center;
  margin: 30px 10vw;
  animation: slide-in-two 2s ease-out;
}

@keyframes slide-in-two {
  from{
    margin-top: 40%;
  }
  to{
    margin-top: 30px;
  }
}

.overview img{
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  padding: 5% 0;

}

.proj_info {
  display: -webkit-box;
    display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
    justify-content: space-between;
}

.proj_info_item{
  width: 80vw;
  height: 10vh;
  margin: 5vh 0;
}

.proj_info_item h2{
  text-align: left;
}

.proj_info_item p{
  text-align: left;
  padding-left: 2em;
}

.proj-detail{
  padding: 2vw 0;
}

.proj-detail img{
  max-height: 400px;
  width: auto;
  margin: 2% auto 2% 2vw;
  box-shadow: 10px 10px 5px #d2d4d6;
}

.back{
  position: relative;
  top: 6vw;

}

#challenge, #execution, #delivery, #synthesis, #design, #lit-review, #presentation{
  background-color: #f7fafc;
}

.proj-detail h2{
  text-align: left;
  color: #265077;
}

.proj-detail p{
  margin: 1em 0;
  line-height: 1.8em;
  margin-left: 2vw;
}

.proj-detail h2, h3, p{
  margin-left: 2vw;
}

#challenge a{
  color:inherit;
}

#challenge a:hover, a:focus{
  color: #F79E02;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

/*.more-about-ariel{
  display: grid;
  grid-template-columns: 400px auto;
  grid-column-gap: 50px;
  grid-template-rows: 100px auto auto auto auto auto auto auto 50px;
  grid-row-gap: 30px;
}

.more-about-ariel img{
  max-height: 300px;
  width: auto;
  border-radius: 200px;
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  margin-left: 3vw;
}

.more-about-ariel p{
  line-height: 1.5em;
  align-content: center;
}

#p1{
  grid-column: 2/3;
  grid-row: 3/4;
}

#p2{
  grid-column: 2/3;
  grid-row: 4/5;
}

#p3{
  grid-column: 2/3;
  grid-row: 5/6;
}

#p4{
  grid-column: 2/3;
  grid-row: 6/7;
}

#p5{
  grid-column: 2/3;
  grid-row: 7/8;
}

.more-about-ariel > a{
  grid-column: 1/2;
  grid-row: 6/7;
  text-decoration: none;
  color: #265077;
  margin-left: 3vw;

}

.more-about-ariel > a:hover, a:focus{
  color: #F79E02;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}*/

/*tablet*/
@media screen and (min-width: 851px){
  
.navi{
  display: -webkit-box;
    display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    flex-direction: row;
  -webkit-box-pack: justify;
    justify-content: space-between;

}

nav ul{
  display: -webkit-box;
    display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    flex-direction: row;
  -webkit-box-align: baseline;
    align-items: baseline;

}

nav li{
  margin-right: 20px;
}


.about {
  margin-top: 20vw;
    /*??*/
  }

.overview{
  margin-top: 5vw;
}

.project-item {
    width: 40vw;
    height: 15vw;
  }

.proj_info_item {
    width: 40vw;
    height: 15vw;
  }
}

.gallery img{
  width:auto;
  max-width: 40vw;
  height: auto;
  max-height: 50vh; 
  z-index: -1;
} 

/*desktop*/
@media screen and (min-width: 1281px){
  .gallery img{
  width: auto;
  max-width: 25vw;
  height: auto;
  max-height: 50vh; 
  overflow: hidden;
} 

.proj_info_item {
    height: 10vw;
  }
}
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skipcont a{
    -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
  }

  .about p, .overview p{
    animation: none 0s ease;
  }

